@keyframes loading {
    0% {
      opacity: 1; }
    75% {
      opacity: 1; }
    99% {
      opacity: 0; }
    100% {
      visibility: hidden;
      opacity: 0; }
    }

    @keyframes fadein {
        from {
            transform: translateY(50px);
            opacity:0;
        }
        to {
            transform: translateY(0px);
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* sur Firefox */
        from {
            transform: translateY(50px);
            opacity:0;
        }
        to {
            transform: translateY(0px);
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* sur Safari et Chrome */
        from {
            transform: translateY(50px);
            opacity:0;
        }
        to {
            transform: translateY(0px);
            opacity:1;
        }
    }